- var width__mobile = 320
- var width__tablet = 768
- var width__desktop = 1200

section(class="promo")
  div(class="promo__content")
    div(class="promo__card")
      h2(class="promo__head") Надежные серверы для проектов любой сложности
      p(class="promo__text") Выделенный сервер — это аренда сервера<br> под задачи вашего проекта с возможностью<br> свободно распоряжаться ресурсами машины<br> и установки любого программного обеспечения.
      a(class="promo__btn btn btn--colored", href="https://selectel.ru/", target="blank") Готовые серверы
    picture(class="promo__picture")
      source(
      type="image/webp",
      media="(min-width:" + width__desktop + "px)",
      srcset="img/server__desktop_1x.webp 1x, img/server__desktop_2x.webp 2x, img/server__desktop_4x.webp 4x")
      source(
      media="(min-width:" + width__desktop + "px)",
      srcset="img/server__desktop_1x.png 1x, img/server__desktop_2x.png 2x, img/server__desktop_4x.png 4x")
      source(
      type="image/webp",
      media="(min-width:" + width__tablet + "px)",
      srcset="img/server__tablet_1x.webp 1x, img/server__tablet_2x.webp 2x, img/server__tablet_4x.webp 4x")
      source(
      media="(min-width:" + width__tablet + "px)",
      srcset="img/server__tablet_1x.png 1x, img/server__tablet_2x.png 2x, img/server__tablet_4x.png 4x")
      source(
      type="image/webp",
      srcset="img/server__mobile_1x.webp 1x, img/server__mobile_2x.webp 2x, img/server__mobile_4x.webp 4x")
      img(
      src="img/server__mobile_1x.png",
      srcset="img/server__mobile_2x.png 2x, img/server__mobile_4x.png 4x",
      alt="server"
      )
