- var width__tablet = 768
- var width__desktop = 1200

section(class="promo")
  div(class="promo__content")
    div(class="promo__card")
      h2(class="promo__head") Надежные серверы для проектов любой сложности
      p(class="promo__text") Выделенный сервер — это аренда сервера<br> под задачи вашего проекта с возможностью<br> свободно распоряжаться ресурсами машины<br> и установки любого программного обеспечения.
      a(class="promo__btn btn btn--colored", href="https://selectel.ru/", target="blank") Готовые серверы
    picture(class="promo__picture")
      source(media="(min-width:" + width__desktop + "px)",
      srcset="img/server__desktop.webp",
      type="image/webp")
      source(media="(min-width:" + width__desktop + "px)",
      srcset="img/server__desktop.png")
      source(media="(min-width:" + width__tablet + "px)",
      srcset="img/server__tablet.webp",
      type="image/webp")
      source(media="(min-width:" + width__tablet + "px)",
      srcset="img/server__tablet.png")
      source(srcset="img/server__mobile.webp",
      type="image/webp")
      img(src="img/server__mobile.png", alt="server")
